<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/img1.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="../../public/js/app.js"></script>
    </head>
    <body>
        <div>
            {{>header}}
        </div>
        <div class="text-center fs-1 fw-bolder pt-5 m-5">{{errorMessage1}}</div>
        <div class="text-center fs-1 fw-bolder p-5 m-5">{{errorMessage2}}</div>
        <div>
            {{>footer}}
        </div>
    </body>
</html>