<html>
    <head>
        <title>Arcade Quiz</title>
        <link rel="icon" href="/img/img1.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="../../public/js/app.js"></script>
    </head>
    <body>
        <div>
            {{>header}}
        </div>

        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center">
                        <h2 class="display-4 mb-4">About {{title}}</h2>
                        <p class="lead">
                            Welcome to our quiz website! We are passionate about providing entertaining and educational quizzes to our users. Our goal is to create a platform that not only challenges your knowledge but also fosters a fun and engaging learning experience.
                        </p>
                        <p>
                            At Quiz Website, we believe that learning should be enjoyable and accessible to everyone. That's why we cover a diverse range of topics, including history, science, literature, pop culture, geography, and more. Whether you're a trivia enthusiast or just looking to expand your knowledge, you'll find something to enjoy on our platform.
                        </p>
                        <p>
                            Our team of experts is dedicated to creating high-quality quiz content that is both informative and entertaining. We carefully research and craft each quiz to ensure accuracy and relevance. We also value user feedback and suggestions, so please don't hesitate to reach out to us with any comments or questions.
                        </p>
                        <p>
                            Thank you for choosing Quiz Website. We hope you have a fantastic experience exploring our quizzes and learning something new along the way!
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <div>
            {{>footer}}
        </div>
    </body>
</html>